<div class="input-group" tabindex={{if tabbable '-1' '0'}}>

  {{input class="combo-input" value=inputValue tabindex="-1"}}
  <i class="fa fa-chevron-down dropdown-icon" aria-hidden="true" {{action 'actionDropdownButton' bubbles=false}}></i>
  </div>
  <ul class="dropdown dropdown-hidden">
    {{partial 'components/item-list'}}
  </ul>
  {{#if mobileDropdownVisible}}
    {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  containerClassNames="combobox-mobile-dialog"
                  translucentOverlay=true}}
                  <div class="header">
                  </div>
                  {{#if canFilter}}
                    {{input value=inputValue class="intput-filter" placeholder=mobileFilterPlaceholder}}
                  {{/if}}
                  <div class="dropdown">
                    {{partial 'components/item-list'}}
                  </div>
                  <div class="footer">
                    <button class="btn-cancel" {{action 'actionCancelMobile'}}>{{mobileCancelButton}}</button>
                    {{#if multiselect}}
                      <button class="btn-accept" {{action 'actionAcceptMobile'}}>{{mobileOkButton}}</button>
                    {{/if}}
                  </div>
  {{/modal-dialog}}
  {{/if}}
