<div class="input-group" tabindex="0">

  {{input class="combo-input" value=inputValue tabindex="-1"}}
  <i class="fa fa-chevron-down dropdown-icon" aria-hidden="true" {{action 'actionDropdownButton' bubbles=false}}></i>
  </div>
  <ul class="dropdown dropdown-hidden">
    {{#each filteredValueList as |value|}}
      <li class="dropdown-item" {{action 'actionItemSelect' value bubbles=false}}>
        {{#if multiselect}}
          {{#if (is-item-selected internalSelectedList value internalSelectedList.length)}} {{!-- we need to pass length of list to let helper know about changes--}}
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
          {{else}}
            <i class="fa fa-square-o" aria-hidden="true"></i>
          {{/if}}
        {{/if}}
        {{get value itemLabel}}
      </li>
    {{else}}
        {{!-- filteredValueList is empty = either because of filter or valuePromise is not yet resolved --}}
        {{#if valuePromiseResolving}}
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          {{asyncLoaderStartLabel}}
        {{else}}
          <li class="dropdown-item">{{emptyValueListLabel}}</li>
        {{/if}}
    {{/each}}
  </ul>
