{{!--<div class="input-group" tabindex={{if tabbable '0' '-1'}}>--}}
<div class="input-group" tabindex='-1'>

  <div class="input-wrapper">
    {{input class="combo-input"
            value=inputValueDisplayed
            tabindex=(if tabbable '0' '-1')
            key-up=(action "inputValueChanged")
            autocorrect="off"
            autocapitalize="off"
            autocomplete="off"
            spellcheck="false"
            placeholder=pleceholder
    }}
    {{#if canShowDropdownButton}}
      <i class="{{font-icon "dropdown" dropdownIcon}} dropdown-icon" aria-hidden="true" {{action 'actionDropdownButton' bubbles=false}} role="button" tabindex="-1"></i>
    {{/if}}
    {{#if (and lazyCallbackInProgress (not mobileDropdownVisible))}}
      <i class="{{font-icon "loading"}} dropdown-icon" aria-hidden="true"></i>
    {{/if}}
  </div>

</div>
<ul class="dropdown dropdown-hidden" tabindex="-1">
  {{item-list
      filteredValueList=filteredValueList
      multiselect=multiselect
      internalSelectedList=internalSelectedList
      emptyValueListLabel=emptyValueListLabel
      lazyCallbackInProgress=lazyCallbackInProgress
      valuePromiseResolving=valuePromiseResolving
      asyncLoaderStartLabel=asyncLoaderStartLabel
      itemLabel=itemLabel
      actionItemSelect=(action 'actionItemSelect')
      preselectedDropdownItem=preselectedDropdownItem
    }}
</ul>
{{#if mobileDropdownVisible}}
  {{#modal-dialog
        close="toggleModal"
        targetAttachment="center"
        containerClassNames="combobox-mobile-dialog"
        translucentOverlay=true

    }}
    <div class="header">
    </div>
    {{#if isInputEditable}}
    <div class="filter-wrapper">
      {{input value=filterQuery class="input-filter" placeholder=mobileFilterPlaceholder key-up=(action "inputValueChanged")}}
      <i class="icon {{font-icon "mobile-filter"}}" aria-hidden="true"></i>
    </div>
    {{/if}}
    <div class="scroll-indicator scroll-indicator-top"></div>
      <div class="dropdown dropdown-mobile">

        {{item-list
                      filteredValueList=filteredValueList
                      multiselect=multiselect
                      internalSelectedList=internalSelectedList
                      emptyValueListLabel=emptyValueListLabel
                      lazyCallbackInProgress=lazyCallbackInProgress
                      valuePromiseResolving=valuePromiseResolving
                      asyncLoaderStartLabel=asyncLoaderStartLabel
                      itemLabel=itemLabel
                      actionItemSelect=(action 'actionItemSelect')
                      preselectedDropdownItem=preselectedDropdownItem
                    }}
      </div>
      <div class="scroll-indicator scroll-indicator-bottom"></div>
    <div class="footer">
      <button class="btn-cancel" {{action 'actionCancelMobile'}}>{{mobileCancelButton}}</button>
      {{#if multiselect}}
        <button class="btn-accept" {{action 'actionAcceptMobile'}}>{{mobileOkButton}}</button>
      {{/if}}
    </div>
  {{/modal-dialog}}
{{/if}}
