{{!--<div class="input-group" tabindex={{if tabbable '0' '-1'}}>--}}
<div class="input-group" tabindex='-1'>

  <div class="input-wrapper">
    <Input  class="combo-input"
            @value={{this.inputValueDisplayed}}
            tabindex={{if this.tabbable '0' '-1'}}
            @keyUp={{action "inputValueChanged"}}
            autocorrect="off"
            autocapitalize="off"
            autocomplete="off"
            spellcheck="false"
            placeholder={{this.pleceholder}}
    ></Input>
    {{#if this.canShowDropdownButton}}
      <i class="{{font-icon "dropdown" this.dropdownIcon}} dropdown-icon" aria-hidden="true" {{action 'actionDropdownButton' bubbles=false}} role="button" tabindex="-1"></i>
    {{/if}}
    {{#if (and this.lazyCallbackInProgress (not this.mobileDropdownVisible))}}
      <i class="{{font-icon "loading"}} dropdown-icon" aria-hidden="true"></i>
    {{/if}}
  </div>

</div>
<ul class="dropdown dropdown-hidden" tabindex="-1">
  <ItemList
      @filteredValueList={{this.filteredValueList}}
      @multiselect={{this.multiselect}}
      @internalSelectedList={{this.internalSelectedList}}
      @emptyValueListLabel={{this.emptyValueListLabel}}
      @lazyCallbackInProgress={{this.lazyCallbackInProgress}}
      @valuePromiseResolving={{this.valuePromiseResolving}}
      @asyncLoaderStartLabel={{this.asyncLoaderStartLabel}}
      @itemLabel={{this.itemLabel}}
      @actionItemSelect={{action 'actionItemSelect'}}
      @preselectedDropdownItem={{this.preselectedDropdownItem}}
  ></ItemList>
</ul>
{{#if this.mobileDropdownVisible}}
  {{#modal-dialog
        close="toggleModal"
        targetAttachment="center"
        containerClassNames="combobox-mobile-dialog"
        translucentOverlay=true

    }}
    <div class="header">
    </div>
    {{#if this.isInputEditable}}
    <div class="filter-wrapper">
      <Input @value={{this.inputValueDisplayed}} class="input-filter" @placeholder={{this.mobileFilterPlaceholder}} @keyUp={{action "inputValueChanged"}}>
      </Input>
      <i class="icon {{font-icon "mobile-filter"}}" aria-hidden="true"></i>
    </div>
    {{/if}}
    <div class="scroll-indicator scroll-indicator-top"></div>
      <div class="dropdown dropdown-mobile">

        <ItemList
                      @filteredValueList={{this.filteredValueList}}
                      @multiselect={{this.multiselect}}
                      @internalSelectedList={{this.internalSelectedList}}
                      @emptyValueListLabel={{this.emptyValueListLabel}}
                      @lazyCallbackInProgress={{this.lazyCallbackInProgress}}
                      @valuePromiseResolving={{this.valuePromiseResolving}}
                      @asyncLoaderStartLabel={{this.asyncLoaderStartLabel}}
                      @itemLabel={{this.itemLabel}}
                      @actionItemSelect={{action 'actionItemSelect'}}
                      @preselectedDropdownItem={{this.preselectedDropdownItem}}
        ></ItemList>
      </div>
      <div class="scroll-indicator scroll-indicator-bottom"></div>
    <div class="footer">
      <button class="btn-cancel" {{action 'actionCancelMobile'}}>{{this.mobileCancelButton}}</button>
      {{#if this.multiselect}}
        <button class="btn-accept" {{action 'actionAcceptMobile'}}>{{this.mobileOkButton}}</button>
      {{/if}}
    </div>
  {{/modal-dialog}}
{{/if}}
