<div class="input-group" tabindex={{if tabbable '0' '-1'}}>

  <div class="input-wrapper">
    {{input class="combo-input" value=inputValue tabindex="-1" key-up=(action "inputValueChanged") autocorrect="off" autocapitalize="off" spellcheck="false" placeholder=pleceholder}}
    {{#if canShowDropdownButton}}
      <i class="{{font-icon "dropdown"}} dropdown-icon" aria-hidden="true" {{action 'actionDropdownButton' bubbles=false}} role="button" tabindex="-1"></i>
    {{/if}}
    {{#if lazyCallbackInProgress}}
      <i class="{{font-icon "loading"}} dropdown-icon" aria-hidden="true"></i>
    {{/if}}
  </div>

</div>
  <ul class="dropdown dropdown-hidden" tabindex="0">
    {{partial 'components/item-list'}}
  </ul>
  {{#if mobileDropdownVisible}}
    {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  containerClassNames="combobox-mobile-dialog"
                  translucentOverlay=true}}
                  <div class="header">
                  </div>
                  {{#if canFilter}}
                    {{input value=inputValue class="intput-filter" placeholder=mobileFilterPlaceholder}}
                  {{/if}}
                  <div class="dropdown">
                    {{partial 'components/item-list'}}
                  </div>
                  <div class="footer">
                    <button class="btn-cancel" {{action 'actionCancelMobile'}}>{{mobileCancelButton}}</button>
                    {{#if multiselect}}
                      <button class="btn-accept" {{action 'actionAcceptMobile'}}>{{mobileOkButton}}</button>
                    {{/if}}
                  </div>
  {{/modal-dialog}}
  {{/if}}