{{#each filteredValueList as |value index|}}
  <li
    class={{concat "dropdown-item" (if (and (eq multiselect false) (eq index preselectedDropdownItem)) ' selected')}}
    {{action 'actionItemSelect' value bubbles=false}}
    title={{combo-item-label value itemLabel}}
    role="button"
  >
    {{#if multiselect}}
      <div class="multi-dropdown-wrapper">
        {{#if
          (is-item-selected internalSelectedList value internalSelectedList.length)}} {{!-- we need to pass length of list to let helper know about changes--}}
          <i class={{font-icon "checkbox-checked"}} aria-hidden="true"></i>
        {{else}}
          <i class={{font-icon "checkbox-unchecked"}} aria-hidden="true"></i>
        {{/if}}
      </div>
    {{/if}}
    {{combo-item-label value itemLabel}}
  </li>

{{else}}
{{!-- filteredValueList is empty = either because of filter or valuePromise is not yet resolved --}}
  {{#if (or valuePromiseResolving lazyCallbackInProgress)}}
    <i class={{font-icon "loading"}}></i>
    {{asyncLoaderStartLabel}}
  {{else}}
    <li class="dropdown-item">{{emptyValueListLabel}}</li>
  {{/if}}
{{/each}}
