<p>
<input placeholder="just a random input">
</p>

<p>
{{combo-box
								lazyCallback=(action 'lazyCallback')
								itemLabel='a'
								itemKey='b'
								selected=selectedAbc
								canFilter=true
						}}

</p>
<div>
Async value
{{combo-box
  valuePromise=asyncValueList
  selected=comboSelectedSingleAsync
  itemKey='a'
  itemLabel='b'
  multiselect=false
  onDropdownShow=(action 'actionCreateAsyncValueList')
  onSelected=(action 'onSelectedSingleAsync')
  disabledWhenEmpty=false
  canFilter=true
  disabled=disabled
  labelOnly=labelOnly
}}
{{comboSelectedSingleFormattedAsync}}
</div>
<p>

</p>

<div>
Single select
{{combo-box
  valueList=comboValueList
  selected=comboSelectedSingle
  itemKey='a'
  itemLabel='b'
  multiselect=false
  onSelected=(action 'onSelectedSingle')
  canFilter=true
  disabled=disabled
  labelOnly=labelOnly
}}
{{comboSelectedSingleFormatted}}
</div>
 <p>

</p>

<div>
Custom selected label
{{combo-box
  valueList=comboValueList
  selected=comboSelectedPreviewSingle
  itemKey='a'
  itemLabel='b'
  itemLabelForSelectedPreview=(action 'customPreviewLabelFn')
  multiselect=false
  onSelected=(action 'onSelectedPreviewSingle')
  canFilter=true
  disabled=disabled
  labelOnly=labelOnly
}}
{{comboSelectedPreviewSingleFormatted}}
</div>
 <p>

</p>

<div>
Custom label in dropdown list
{{combo-box
  valueList=comboValueList
  selected=comboSelectedCustomDropdownSingle
  itemKey='a'
  itemLabel=(action 'customDropdownLabelFn')
  multiselect=false
  onSelected=(action 'onSelectedCustomDropdownSingle')
  canFilter=true
  disabled=disabled
  labelOnly=labelOnly
}}
{{comboSelectedCustomDropdownSingleFormatted}}
</div>
 <p>

</p>

<div>
Without dropdown button
{{combo-box
  valueList=comboValueList
  selected=comboSelectedNoButton
  itemKey='a'
  itemLabel='b'
  multiselect=false
  onSelected=(action 'onSelectedNoButton')
  canFilter=true
  disabled=disabled
  labelOnly=labelOnly
  showDropdownButton=false
}}
{{comboSelectedNoButtonFormatted}}
</div>
 <p>

</p>

<p>

</p>

<div>
Single select - only 1 item in value list
{{combo-box
  valueList=oneItemValueList
  selected=oneItemSelectedSingle1
  itemKey='a'
  itemLabel='b'
  multiselect=false
  onSelected=(action 'onOneItemSelected1')
  canFilter=false
  disabled=disabled
  labelOnly=labelOnly
}}
{{oneItemSelectedSingleFormatted1}}
</div>
<p>

</p>


<div>
Single select without filtering
{{combo-box
  valueList=comboValueList
  selected=comboSelectedSingleWithoutFilter
  itemKey='a'
  itemLabel='b'
  multiselect=false
  onSelected=(action 'onSelectedSingleWithoutWilter')
  canFilter=false
  disabled=disabled
  labelOnly=labelOnly
}}
{{comboSelectedSingleFormattedWithoutFilter}}
</div>
<p>

</p>
<div>
Async value
{{combo-box
  valuePromise=asyncValueList
  selected=comboSelectedSingleAsync
  itemKey='a'
  itemLabel='b'
  multiselect=false
  onSelected=(action 'onSelectedSingleAsync')
  canFilter=true
  disabled=disabled
  labelOnly=labelOnly
  noValueLabel="I am async combobox"
}}
{{comboSelectedSingleFormattedAsync}}
</div>
<p>

</p>

<div>
Single select without filtering - preselect
{{combo-box
  valueList=comboValueList
  selected=comboPreSelectedSingle
  itemKey='a'
  itemLabel='b'
  multiselect=false
  preselectFirst=true
  onSelected=(action 'onPreSelectedSingle')
  canFilter=false
  disabled=disabled
  labelOnly=labelOnly
}}
{{comboPreSelectedSingleFormatted}}
</div>
<p>

</p>


<div>
Multi select
{{combo-box
  valueList=comboValueList
  selected=comboSelectedMulti
  itemKey='a'
  itemLabel='b'
  multiselect=true
  onSelected=(action 'onSelectedMulti')
  canFilter=true
  disabled=disabled
  labelOnly=labelOnly
}}
{{comboSelectedMultiFormatted}}
</div>
<p>

</p>

<div>

Labelonly combobox
{{combo-box
  itemKey='a'
  itemLabel='b'
  multiselect=false
  canFilter=true
  disabled=disabled
  labelOnly=true
  noValueLabel="I am label only combobox with no value"
}}
</div>

<p>

</p>

<div>

Complex combobox with callbacks and valuePromise that resolves after dropdown is shown
{{combo-box
  itemKey='a'
  itemLabel='b'
  multiselect=false
  canFilter=true
  disabled=disabled
  valuePromise=complexValuePromise
  labelOnly=labelOnlyWithNoValue
  noValueLabel="I am label only combobox with no value"
  onDropdownShow=(action 'onDropdownShow')
  onDropdownHide=(action 'onDropdownHide')
}}
</div>
labelOnly: {{labelOnly}}
<button {{action 'actionToggleLabelOnlyWithNoValue'}}>Toggle label only for this combobox</button>

<p>

</p>
<div>
  Null valueList
  {{combo-box
    valueList=null
    selected=comboPreSelectedSingle
    itemKey='a'
    itemLabel='b'
    multiselect=false
    preselectFirst=true
    canFilter=false
    disabled=disabled
    labelOnly=labelOnly
  }}
</div>
<p>

</p>

<div>
  Null valueList - with noValueLabel
  {{combo-box
    id="noValueLabelCombo"
    valueList=null
    selected=noValueLabelSelected
    itemKey='a'
    itemLabel='b'
    multiselect=false
    preselectFirst=true
    canFilter=false
    disabled=disabled
    labelOnly=labelOnly
    noValueLabel='no value'
  }}
</div>
<p>
</p>

<div id="manyItems">
Many items - automatic scrollbar
{{combo-box
  valueList=comboValueListMany
  itemKey='a'
  itemLabel='b'
  multiselect=false
  canFilter=true
}}
</div>

 <p>

</p>
<div>
Lazy select (queries server after user types at least 3 characters into filter)
{{combo-box
  selected=comboSelectedLazy
  itemKey='a'
  itemLabel='b'
  onSelected=(action 'onLazySingle')
  disabled=disabled
  lazyCallback=(action 'lazyCallback')
}}
{{oneItemSelectedLazyFormatted}}
</div>
 <p>

</p>

<button {{action 'actionToggleLabelOnly'}}>Toggle label only</button>
<button {{action 'actionToggleDisabled'}}>Toggle disabled</button>
<button {{action 'actionCreateAsyncValueList'}}>Create async value</button>
<button {{action 'actionRemoveValueList'}}>Clear value list</button>

<input />

<p>
<input placeholder="just a random input">
</p>

<div class="fixed-positioned-dropdown">
Single select in fixed container
{{#if showFixedCombo}}
{{combo-box
  valueList=comboValueList
  selected=comboSelectedSingle
  itemKey='a'
  itemLabel='b'
  multiselect=false
  onSelected=(action 'onSelectedSingle')
  canFilter=true
  disabled=disabled
  labelOnly=labelOnly
}}
{{comboSelectedSingleFormatted}}
{{/if}}
<button {{action 'showHideFixed'}}>show/hide fixed panel</button>
</div>
